<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="campo cadastro">
			<h1>Olá {{usuario}},</h1>
			<h3>Cadastre um filme usando o formulário logo abaixo.</h3>

			<form action="/consulta" method="POST">
				<label>Nome do Filme:</label>
					<input type="text" name="nome" placeholder="Ex.: Piratas do Caribe">
				<label>Gênero:</label>
					<select class="proximaLinha" name="genero">
						{{#generos}}
						<option value="{{.}}">{{nome}}</option>
						{{/generos}}
					</select>
				<label>Ano:</label>
					<input type="number" name="ano" maxlength="4" placeholder="Ex.: 2007">
				<label>URL da Capa/Imagem do Filme:</label>
					<input type="url" name="foto" placeholder="Ex.: http://capasdefilmes.com/lagoaAzul.jpg">
				<label class="proximaLinha" >Sinopse:</label>
					<textarea name="sinopse" placeholder="Ex.: Era uma vez..."></textarea>
				<input type="submit" value="SALVAR">
			</form>
			{{#mensagem}}
			<p>{{mensagem}}</p>
			{{/mensagem}}
		</div>

		
	</body>
</html>