<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link href="/star-rating.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="/jquery-2.1.4.min.js"></script>
		<script src="/star-rating.js" type="text/javascript"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<div class="campo" >
			<h1 id="usuario">{{usuario}}</h1>
			<h3>Abaixo você pode conferir a lista de filmes do nosso acervo.</h3>
		</div>
		
		{{#filmes}}
		<div class="campo consulta">
			
			
			<ul>
				
				<li>
				<p id="{{nome}}">
					Nome: {{nome}}
				</p>
				<p>
					Gênero: {{genero}}
				</p>
				<p>
					Ano: {{ano}}
				</p>
				<p class="avaliacao"> Sua avaliação:
				<input onChange="main(this)" id="rating-input" type="number"/>
				</p>
				<div class="imagemSinopse">
					<img src="{{foto}}">
					Sinopse: {{sinopse}}
				</div>
				</li>
				
			</ul>
		</div>
		{{/filmes}}

		<script>
		jQuery(document).ready(function () {        
			$('#rating-input').rating({
				min: 0,
				max: 5,
				step: 1,
				size: 'lg',
				showClear: false
			});

			$('#rating-input').on('click', function() {
			    this.disabled = true;
			});
		});
		</script>
	</body>
</html>