* {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #2e2e2e;
}

body {
	margin: 0;
	background-image: url("img/fundo01.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

form {
	opacity: 1;
	text-align: center;
}

img {
	float: left;
	max-width: 50%;
	margin-right: 5px;
}

input {
	margin: auto;
	display: block;
}

input:not([type="submit"]), select{
	padding:8px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 1em;
	font-weight: 600;
	width: 90%;
}

input[type=submit] {
	padding: 5px 40px;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 4px;
	color: white;
	font-size: 0.8em;
	background: #2e2e2e;
	border: 0px;
}

label {
	font-size: 1.3em;
}

li p {
	border-bottom: 1px solid #2e2e2e; 
}

select {
	width: 50%;
	margin: auto;
}

textarea {
	width: 320px;
	height: 200px;
	font-size: 1em;
}

ul {
	list-style-type: none;
	display: inline;
}

.campo {
	width: 30%;
	min-width: 360px;
	margin: 0 auto;
	background-color: white;
	opacity: 0.8;
    filter: alpha(opacity=80); /* <= IE8 */
	display: table;
	padding: 2%;
}

.cadastro {
	position: relative;
	top: 50%;
}

.consulta {
	position: relative;
	margin-top: 15px;
	margin-left: 30px;
	margin-bottom: 15px;
	display: inline-block;
	max-height: 400px;
}

.consulta:first {
	margin-top: 0px !important;
}

.imagemSinopse {
	width: 100%;
	height: 250px;
	overflow-y: scroll;
}

.input01 {
	font-size: 0.7em !important;
}

.proximaLinha{
	display: block;
}